Repository boostcampwm-2021/web16-bmPuzzle, pull requests merged in 2021-11, with the labels that each got.

#52 feat: 퍼즐등록페이지 마크업
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Component/RegPuz/index.tsx
  frontend/src/Components/RegPuz/Components/LevelComponent.tsx
  frontend/src/Components/RegPuz/index.tsx
  frontend/src/GlobalStyles.tsx
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: frontend

#51 feat: Header 부분 마크업 및 css 적용
  frontend/src/Component/Header/index.tsx
  frontend/src/Components/Header/index.tsx
  frontend/src/images/account_icon.png
  frontend/src/images/puzzle_icon.png
  frontend/src/images/ranking_icon.png
Labels: frontend, 헬린

#53 feat: global CSS 설정
  frontend/src/Components/Header/index.tsx
  frontend/src/Components/RegPuz/index.tsx
  frontend/src/GlobalStyles.tsx
  frontend/src/styles/theme.ts
Labels: frontend

#56 feat: 퍼즐등록 FE
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Components/Header/index.tsx
  frontend/src/Components/RegPuz/Components/LevelComponent.tsx
  frontend/src/Components/RegPuz/index.tsx
  frontend/src/GlobalStyles.tsx
  frontend/src/images/account_icon.png
  frontend/src/images/puzzle_icon.png
  frontend/src/images/ranking_icon.png
  frontend/src/styles/theme.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: frontend

#79 Feat: 퍼즐 타일 생성 및 무작위 배치
  frontend/src/components/puzzle-canvas/index.tsx
  frontend/src/components/puzzle-canvas/puzzle/index.tsx
  frontend/src/pages/play-puzzle/index.tsx
Labels: frontend

#80 fix: 퍼즐 타일 순서 수정
  frontend/src/components/puzzle-canvas/puzzle/index.tsx
Labels: frontend

#83 Feat: puzzle tile 생성
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/puzzle-canvas/index.tsx
  frontend/src/components/puzzle-canvas/puzzle/index.tsx
  frontend/src/pages/play-puzzle/index.tsx
  frontend/yarn.lock
Labels: frontend

#87 Feat: puzzle move
  frontend/src/components/puzzle-canvas/index.tsx
  frontend/src/components/puzzle-canvas/puzzle/index.tsx
  frontend/src/pages/play-puzzle/index.tsx
Labels: frontend

#94 refactor: puzzle config 할당방식 변경
  frontend/src/components/puzzle-canvas/index.tsx
  frontend/src/components/puzzle-canvas/puzzle/index.tsx
Labels: frontend

#102 feat: 퍼즐 난이도 기준 변경
  frontend/src/components/puzzle-canvas/index.tsx
  frontend/src/pages/play-puzzle/index.tsx
Labels: frontend

#110 feat: front chores(플레이룸 메뉴 및 채팅 css)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/index.tsx
  frontend/src/components/header/index.tsx
  frontend/src/components/playroom-btn/copy-link-btn/index.tsx
  frontend/src/components/playroom-btn/hint-btn/index.tsx
  frontend/src/components/playroom-btn/index.tsx
  frontend/src/images/chat-icon.png
  frontend/src/images/copy-link-button.png
  frontend/src/images/hint-button.png
  frontend/src/images/playroom-menu-button.png
  frontend/src/pages/play-puzzle/index.tsx
Labels: frontend

#120 fix : env 파일 수정
  frontend/src/components/kakao-share-btn/index.tsx
  frontend/src/pages/play-puzzle/index.tsx
Labels: Backend
